body {
  margin: 0;
  font-family: "open sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: revert;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* Remove font-weight: inherit; */
  font-size: revert;
}
